src/main/java/ru/apertum/qsky/plugins/ws/gen/customer_events.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.4.0 (wsit240-7e98ff4; 2017-08-03T21:19:54+0200) JAXWS-RI/2.3.0 JAXWS-API/2.3.0 JAXB-RI/2.3.0 JAXB-API/2.3.0 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://javaee.github.io/metro-jax-ws). RI's version is Metro/2.4.0 (wsit240-7e98ff4; 2017-08-03T21:19:54+0200) JAXWS-RI/2.3.0 JAXWS-API/2.3.0 JAXB-RI/2.3.0 JAXB-API/2.3.0 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://ws.qsky.apertum.ru/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://ws.qsky.apertum.ru/" name="customer_events">
<types>
<xsd:schema>
<xsd:import namespace="http://ws.qsky.apertum.ru/" schemaLocation="http://localhost:8080/qskyapi/customer_events?xsd=1"/>
</xsd:schema>
</types>
<message name="changeCustomerStatus">
<part name="parameters" element="tns:changeCustomerStatus"/>
</message>
<message name="ping">
<part name="parameters" element="tns:ping"/>
</message>
<message name="pingResponse">
<part name="parameters" element="tns:pingResponse"/>
</message>
<message name="insertCustomer">
<part name="parameters" element="tns:insertCustomer"/>
</message>
<message name="removeCustomer">
<part name="parameters" element="tns:removeCustomer"/>
</message>
<message name="sendServiceName">
<part name="parameters" element="tns:sendServiceName"/>
</message>
<message name="sendUserName">
<part name="parameters" element="tns:sendUserName"/>
</message>
<portType name="qskyapi/CustomerEventsWS">
<operation name="changeCustomerStatus">
<input wsam:Action="http://ws.qsky.apertum.ru/qskyapi/CustomerEventsWS/changeCustomerStatus" message="tns:changeCustomerStatus"/>
</operation>
<operation name="ping">
<input wsam:Action="http://ws.qsky.apertum.ru/qskyapi/CustomerEventsWS/pingRequest" message="tns:ping"/>
<output wsam:Action="http://ws.qsky.apertum.ru/qskyapi/CustomerEventsWS/pingResponse" message="tns:pingResponse"/>
</operation>
<operation name="insertCustomer">
<input wsam:Action="http://ws.qsky.apertum.ru/qskyapi/CustomerEventsWS/insertCustomer" message="tns:insertCustomer"/>
</operation>
<operation name="removeCustomer">
<input wsam:Action="http://ws.qsky.apertum.ru/qskyapi/CustomerEventsWS/removeCustomer" message="tns:removeCustomer"/>
</operation>
<operation name="sendServiceName">
<input wsam:Action="http://ws.qsky.apertum.ru/qskyapi/CustomerEventsWS/sendServiceName" message="tns:sendServiceName"/>
</operation>
<operation name="sendUserName">
<input wsam:Action="http://ws.qsky.apertum.ru/qskyapi/CustomerEventsWS/sendUserName" message="tns:sendUserName"/>
</operation>
</portType>
<binding name="qskyBinding" type="tns:qskyapi/CustomerEventsWS">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="changeCustomerStatus">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
</operation>
<operation name="ping">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="insertCustomer">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
</operation>
<operation name="removeCustomer">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
</operation>
<operation name="sendServiceName">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
</operation>
<operation name="sendUserName">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
</operation>
</binding>
<service name="customer_events">
<port name="qsky" binding="tns:qskyBinding">
<soap:address location="http://localhost:8080/qskyapi/customer_events"/>
</port>
</service>
</definitions>